<div
    style="background-color:rgb(67, 228, 115);display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif; font-size: 16px;line-height: 1.6; color: #222; max-width: 700px;  margin: auto;">
    <div id="cabecalho" style="margin: auto; padding-top:30px"><img
            src='https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png'></img>
    </div>
    <div id=" texto" style="margin: auto; padding: 40px 40px 40px 40px; color: black;">
        {{{body}}}
    </div>
    {{>footer}}

</div>
