<strong>Olá, {{student}}</strong>
<p>A sua pergunta acabou de ser respondida, pelos nossos instrutores:</p>
</br>
<small>Pergunta:</small>
<div style="background:white; border-radius: 5px; width: 70%; font-size: 16px; font-style:italic; color: darkred; margin:auto">
    {{question}}
</div>
<small>Resposta</small>
<div style="background:white; border-radius: 5px; width: 70%; font-size: 16px; font-style:italic; color: darkred; margin:auto">

    {{answer}}
</div>
